
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8F8FF;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 2.5em 3em; 
   align-items: center;
    background-color: #F8F8FF;
 
  
}
.logo {
    width :17rem;
    height: 2.5rem;
    
}

.heading ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    gap:1rem;
 
}
.heading ul li{
 padding-top: 0.5em;
     
}

.heading ul li a{

    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;   
    color:#0B0B0B;
    font-family: 'Ubuntu';
    letter-spacing: 0.4px;

   
}
.contact-us { 
    display: flex;
    padding: 12px 26px;
    justify-content: space-between;
    align-items:center;
    cursor: pointer;
    border-radius: 25px;
    background: #00B050;
    color: white;
    border: 1px solid #00B050 ;
    transition: 1s ;
    font-size: 20px;
    font-family: 'Ubuntu';
}
.contact-us a {
    text-decoration: none;
    color:white ;
}
.contact-us:hover{
    background-color: #0B0B0B;
    border:2px solid #00B050;
}
.first-heading h1{
    color: var(--text-colour, #000000);
    text-align: center;
    font-family: 'Oxygen';
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 1.28px;
}
.first-heading p{
    color: var(--text-colour, #0B0B0B);
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-top: 1em;
}
.first-heading{
    padding: 5em ;
}
.second {
    display: flex; /* Enables Flexbox for alignment */
    justify-content: center; /* Horizontally centers content */
    align-items: center; /* Vertically centers content */
    text-align: center; /* Centers text within */
    gap: 2rem; /* Space between child elements */
    min-height: 804px; /* Minimum height of the container */
    background: rgba(44, 44, 44, 0.71); /* Overlay color */
    background-image: url('images/contact-bg.jpeg'); /* Background image */
    background-blend-mode: overlay; /* Blend the overlay color with the image */
    background-size: cover; /* Ensures the background image covers the container */
    background-position: center; 
    
}

.second h1{
    color: var(--accent, #F8F8FF);
    font-family: 'Oxygen';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px; /* 121.875% */
}
.second p{
    color: var(--accent, #F8F8FF);
    font-family: 'Ubuntu';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px; /* 179.167% */
}
.third{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 6em 2em 1em 4em;
    gap:2em;
    justify-content: space-between;
  }
 
  .third h1{
    color: var(--text-colour, #0B0B0B);
    font-family: 'Oxygen';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0.5em;
  }
.third p{
    color: #000;
    font-family: 'Ubuntu';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px; /* 172.222% */
    margin-bottom: 0.5em;
}


 label {
    color: #666;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
}
form input::placeholder{
    color: #666;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding: 0.5em;
}

input{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    background: #F8F8FF;
    border-radius: 0.5em;
    margin: 1em 0em;
    max-width: 426px;
   border-radius: 8px;
    border: 1px solid #CCC;
    background: var(--W-Background, #FFF);}


.phonenumber section1{
     width: 60%;
 }  
 
.phonenumber {
    display: flex;
    gap: 14px;
    width: 100%;
  }

  .phone-code {
    flex: 0 0 20%; /* 20% of the total width for the country code */
    max-width: 80px; /* Prevent the country code from being too large */
  }

  .phone-number {
    flex: 1; /* Take the remaining space (80%) */
    
  }
  .fifthbutton{
    gap: 10px; 
    border-radius: 61px;
    background: var(--primary-colour, #00B050);
    color: var(--accent, #F8F8FF);
    font-family: 'Ubuntu';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
    cursor: pointer;
    transition: 1s;
    padding: 1em 7em;
    border: #00B050;
}
.fifthbutton:hover{
    background: #0B0B0B;
    color: #F8F8FF;
    border: 2px solid #00B050;
}
.button5{
    padding: 3em 0em;
}
._3rd h1{
    color: var(--secondary, #0B0B0B);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}
._3rd p{
    color: var(--Dark, #0A142F);
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
}
._3rd p1{
    color: var(--secondary, #0B0B0B);
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
}

.sixth{
    padding: 87px 30px;
}
.sixth-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content:space-around ;
    align-content: space-around;
    gap:50px;
}
.arrow img{
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    background-color: var(--primary-colour, #00B050);
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
 
}
.arrow img:hover{
    background-color: #0B0B0B;
    border: 2px solid #00B050;

}
.location h1{
    color: var(--Dark, #0A142F);
    font-family: 'Ubuntu';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
}
.location p{
    color: var(--Dark, #0A142F);
    font-family: 'Ubuntu';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
.apsc{
    color: var(--Dark, #0A142F);
    font-family: 'Ubuntu';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    
}
.mobile-sixth{
    display: none;
}
.header-mobile{
    display: none;
}





@media (max-width:846px) {
    .mobile-sixth-wrap{
        display: inline;
    }
    .heading {
        display: none;
    }
    /* mobile */
    .header-mobile {
        display:flex;
        justify-content: space-between;
        align-items: center;
         position: relative;
        width: 100%;
        position: fixed;
        background-color: #f0f6f2;
        
        
    }
    .header-mobilelogo img{
       padding: 1em;
       position: relative;
    } 
    .menu  {
       border: none;
       padding: 2px;
       font-size: 20px;
       margin: 1em;
       border: 2px solid;
       z-index: 1;

    }
    .menu svg{
        cursor: pointer;
        width: 1.5rem;
        height: 2rem;
        box-shadow: 0px 0px 2px 2px rgb(131, 126, 126);
       position: relative;
      
    }
    .sidenav {
        display:none;
       height: 100vh;
       width: 70%;
       top: 0;
       right: 0.1%;
       background-color:rgba(38, 145, 70);
       position: absolute;
       z-index: -1;
       opacity: 20;
       box-shadow: 10px 10px 10px 10px black;
    }
    .sidenav-visible{
        display: block; 
        animation: Comein 2s  ease-in ;  
    }
    
    .sidenav ul{
        
       margin: 4em 0em 0em 1em;
    }
    ul li a{
        color: rgb(253, 253, 253);
        text-decoration: none;
        font-size: 2rem;
    }
    .sidenav ul li{
    
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 400;   
            color:#ffffff;
            font-family: 'Ubuntu';
            letter-spacing: 0.4px;
            list-style-type: none;
         padding-top: 1em;
        
    }
    /* end mobile */
    .second{ 
            
        display: flex; /* Enables Flexbox for alignment */
        justify-content: center; /* Horizontally centers content */
        align-items: center; /* Vertically centers content */
        text-align: center; /* Centers text within */
        gap: 1.5rem; /* Space between child elements */
        min-height: 804px; /* Minimum height of the container */
        background: rgba(44, 44, 44, 0.71); /* Overlay color */
        background-image: url('images/contact-bg.jpeg'); /* Background image */
        background-blend-mode: overlay; /* Blend the overlay color with the image */
        background-size: cover; /* Ensures the background image covers the container */
        background-position: center; 
        flex-direction: column;
        }
    .second h1{
        color: var(--accent, #F8F8FF);
        font-family: 'Oxygen';
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 78px; /* 121.875% */
    }
    .second p{
        color: var(--accent, #F8F8FF);
        font-family: 'Ubuntu';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 43px; /* 179.167% */
      
    }
   
    .third{
       display: flex;
       flex-direction: column;
       align-items: center;
        
      }
     
      .third h1{
        font-size: 2.5rem;
        text-align: center;
      }
    .third p{
        font-size: 18px;
       text-align: center;
    }
    
    input{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    background: #F8F8FF;
    border-radius: 0.5em;
    margin: 1em 0em;
    min-width: 0px;
        
    }
    .phonenumber{
        display: flex;
        gap: 14px;
        width: 100%;
    }
   .phonenumber section{
       width: 30%;
   }
    .phonenumber section1{
        width: 70%;
    } 
    .button5{
        padding: 3em 0em;
        align-content: center;
        display: flex;
        justify-content: center;
    }
    ._3rd h1{
        color: var(--secondary, #0B0B0B);
        font-family: 'Poppins';
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
    }
    ._3rd p{
        color: var(--Dark, #0A142F);
        font-family: 'Ubuntu';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 130% */
    }
    ._3rd p1{
        color: var(--secondary, #0B0B0B);
        font-family: 'Poppins';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.36px;
        text-align: center;
        justify-content: center;
        display: flex;
    }


    .sixth{
        display: none;
    }
    .mobile-sixth{
        display: inline;
    }
    .mobile-arrow img{
        width: 54px;
        height: 54px;
        flex-shrink: 0;
        background-color: var(--primary-colour, #00B050);
        border-radius: 25px;
        padding: 10px;
        cursor: pointer;
        transition: 1s;
     
    }
    .mobile-arrow img:hover{
        background-color: #0B0B0B;
        border: 2px solid #00B050;
    
    }
   
    .mobile-location h1{
        color: var(--Dark, #0A142F);
        font-family: 'Ubuntu';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 150% */
    }
    .mobile-location p{
        color: var(--Dark, #0A142F);
        font-family: 'Ubuntu';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
    }
    .mobile-apsc{
        color: var(--Dark, #0A142F);
        font-family: 'Ubuntu';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        
    }
    .logo-n-img{
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }
    .mobile-sixth-wrap{
        padding: 10px;
       
    }
    .location-n-apsc{
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        gap:150px;
        margin-top: 50px;
    }
   
} 
