
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
  
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 2.5em 3em; 
   align-items: center;
    background-color: #F8F8FF;
 
  
}
.logo {
    width :17rem;
    height: 2.5rem;
    
}

.heading ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    gap:1rem;
 
}
.heading ul li{
 padding-top: 0.5em;
     
}

.heading ul li a{

    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;   
    color:#0B0B0B;
    font-family: 'Ubuntu';
    letter-spacing: 0.4px;

   
}

nav a {
    text-decoration: none;
    color: black; /* Default color */
    padding: 10px;
  }
  
  /* Styling for the active link */


.contact-us { 
    display: flex;
   padding: 12px 26px;
    justify-content: space-between;
    align-items:center;
    cursor: pointer;
    border-radius: 25px;
    background: #00B050;
    color: white;
    border: 1px solid #00B050 ;
    transition: 1s ;
    font-size: 20px;
    font-family: 'Ubuntu';
}
.contact-us a{
    text-decoration: none;
    color:white ;
}
.contact-us:hover{
    background-color: #0B0B0B;
    border:2px solid #00B050;
}
.header-background{
    background: rgba(44, 44, 44, 0.71);
    background-image: url('./images/backgroundimage.png');
    background-blend-mode: overlay; 
    background-size: cover; 
    min-height:804px ;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap:2rem ;
    display: flex;
    flex-direction: column;

}
.background-first-text{
    color: var(--accent, #F8F8FF);
    text-align: center;
    font-family: 'Oxygen';
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 1.28px;

}
.header-background p{
    color: var(--accent, #F8F8FF);
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.48px;

}
.contactus2 {
    padding: 0.7em 2em;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 25px;
    background: #00B050;
    color: white;
    border: 1px solid #00B050 ;
    transition: 1s ;
    margin-top: 32px;
    font-size: 20px;
    font-family: 'Ubuntu';
}
.contactus2:hover{
    background-color: #0B0B0B;
    border:2px solid #00B050;
}
.frame-text{
  justify-content: space-around;
  align-content: space-around;
  padding: 2.5em 0em;

}
.frame-text h1{
    color: var(--text-colour, #0B0B0B);
    text-align: center;
    font-family: 'Oxygen';
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.96px;
}
.frame-text p{
    color: var(--text-colour, #0B0B0B);
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.48px;
    padding: 15px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   column-gap:15px;
   padding: 0em 3.7em 6em 3.7em;
}
.card{
    background-color: #00B050;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    padding: 43px 0px;
  
}
.card img{
    max-width: 131px;
    max-height: 117px;
    align-items: center;
    align-content: center;
    justify-content: center;
   
    
}
.cards p{
    color: var(--accent, #F8F8FF);
    text-align: center;
    font-family: 'Oxygen';
    font-size: 2rem;
    font-weight: 700;
    line-height: 41px; /* 128.125% */
    letter-spacing: 0.64px;
}
 
.second{
    background-color: #0B0B0B;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    color: white;
    column-gap: 32px;
    padding: 9em 3.7em;
    overflow: hidden;
}

.second-text-wrap h1{
    padding: 3.7em 0em 0.16em 0em;
    color: #00B050;
    color: var(--primary-colour, #00B050);
    font-family: 'Ubuntu';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}
.second-text-wrap h3{
    color: var(--accent, #F8F8FF);
    font-family: 'Oxygen';
    font-size: 48px;
    font-weight: 700;
} 
.second-button button{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    border-radius: 25px;
    margin-top: 40px;
    background-color: #00B050;
    cursor: pointer;
    transition: 1s;
    border: 1px solid #00B050;
    color: var(--accent, #F8F8FF);
    font-family: 'Oxygen';
    font-size: 18px;
}
.second-button img{
    color: #F8F8FF;

}
.second-button button:hover{
    background-color: #0B0B0B;
    border:2px solid #00B050;
    color: #F8F8FF;
}

.second h2{
    color: var(--primary-colour, #00B050);
    font-family: 'Oxygen';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.second p{
    color: var(--accent, #F8F8FF);
    font-family: 'Ubuntu';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.seconduppericons{
   justify-content: space-around;

}

.icons{
    row-gap: 0px;
    padding: 20px 0px;
}
.third{
    background-color: #F8F8FF;
}
.third h1{
    color: var(--text-colour, #0B0B0B);
    text-align: center;
    font-family: 'Oxygen';
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.96px;
    padding: 50px 0px 0px 0px;
}
.third p{
    color: var(--text-colour, #0B0B0B);
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.48px;
    padding: 30px 0px 60px 0px;
}

.third-image-respon{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap:60px 24px;
    align-content: space-around;
    align-items: center;
    padding: 0em 1em;
 }
.thirdimage img{
    width:100%;
   column-gap: 24px;
 
 
}

.desc{
    align-self: stretch;
    color: var(--text-colour, #0B0B0B);
    font-family: 'Oxygen';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.52px;
    text-transform: capitalize;
    padding: 12px 0px 8px 0px;
}
.innerdes{
    color: var(--text-colour, #0B0B0B);
    font-family: 'Oxygen';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}
.smallerdes{
    color: var(--text-colour, #0B0B0B);
    font-family: 'Oxygen';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: capitalize;
}
.third-button {
    align-items: center;
    justify-content: center;
    padding: 12px 26px;
    border-radius: 25px;
    border: 3px solid #00B050;
    color: var(--text-colour, #0B0B0B);
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 500;
   transition: 1s;
   margin: 80px  0px 184px 0px;
   cursor: pointer;
}
.button3{
    display: flex;
    justify-content: center;
    
}
.third-button:hover{
    background-color:#0B0B0B;
    color: #00B050;
}
button{
    justify-content: center;
    align-content: center;
    align-items: center;
}

 .fourth h1 {
    color: var(--text-colour);
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 32px;
  }
  
  .fourth ul {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-bottom: 70px;
  }
  
  .tab_btn {
    text-decoration: none;
    color: var(--text-colour);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background-color: #F8F8FF;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
  }
  
  .tab_btn.active {
    background-color: #00B050;
    color: #FFF;
    border-radius: 25px;
  }
  
  .fourthwrap {
    display: none;
    
  }
  
  .fourthwrap.active {
    display: flex;
    align-items: center;
    padding:20px 50px 80px ;
  }
  
  .landscaping {
    border-radius: 24px;
    background: rgba(0, 176, 80, 0.09);
    padding: 80px 48px;
    flex: 1;
    position: relative;
    width: 713px;
   
  }
  
  .landscaping h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-colour);
    text-align: start;
    color: var(--text-colour, #0B0B0B);
      font-family: 'Ubuntu';
  }
  
  .landscaping h2 {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-colour);
    margin:28px 0px;
    color: var(--text-colour, #0B0B0B);
    font-family: 'Ubuntu';
  }
  
  ul1 {
    list-style-type: none;
    padding: 0;
  }
  
  ul1 li {
    font-size: 16px;
    margin: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    color: var(--text-colour);
    font-family: 'Ubuntu';
    
  }
  
  ul1 li img {
    margin-right: 10px;
    width: 10px;
    height: 10px;
    
  }
  
  .landscapingimg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .landscapingimg img {
    width: 100%;
    max-width: 600px;
    border-radius: 24px;
    position: absolute;
    
  }
  
  #machinery img {
    width: 632px;
    height: 320px;
  }

.fifth{
    background-color: var(--text-colour, #0B0B0B); 
    padding:  121px 95px 200px; 
  }
  
.fifth h1{
    color: var(--accent, #F8F8FF);
    text-align: center;
    font-family: 'Oxygen';
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.96px;
}
form{
    display: grid;
    grid-template-columns:  426px 426px;
    gap: 20px;
    padding: 56px 0px;
    justify-content: center;
    
    
}
label {
    color: #666;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    
}
input::placeholder{
    color: #666;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
input{
    display: flex;
    padding: 16px ;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    align-self: stretch;
    width: 100%;
    background: #F8F8FF;
    max-width:426px  ;
    border-radius: 8px;
    border: 1px solid #CCC;
    background: var(--W-Background, #FFF);
    
    
}
.inputgroup{
    padding: 1em 0em;
    
}

.inputgroupwrap {
    width: 426px; /* Sets the consistent width for the entire form */
    margin: 0 auto;
    max-width: 100%;
  }

.phonenumber {
    display: flex;
    gap: 14px;
    width: 100%;
  }

  .phone-code {
    flex: 0 0 20%; /* 20% of the total width for the country code */
    max-width: 80px; /* Prevent the country code from being too large */
  }

  .phone-number {
    flex: 1; /* Take the remaining space (80%) */
  }
.fifthbutton{
    display: flex;
    padding: 16px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    border-radius: 61px;
    background: var(--primary-colour, #00B050);
    color: var(--accent, #F8F8FF);
    font-family: 'Ubuntu';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
    cursor: pointer;
    transition: 1s;
    border: #00B050;
}
.fifthbutton:hover{
    background: #0B0B0B;
    color: #F8F8FF;
    border: 2px solid #00B050;
}
.button5{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}
.sixth-wrap{
    display: grid;
    grid-template-columns: 260px 300px 100px 120px 52px;
    justify-content:space-around ;
    align-content: space-around;
    gap:30px;
    margin: 87px 70px;
}

.arrow img{
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    background-color: var(--primary-colour, #00B050);
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
 
}
.arrow img:hover{
    background-color: #0B0B0B;
    border: 2px solid #00B050;

}
.location h1{
    color: var(--Dark, #0A142F);
    font-family: 'Ubuntu';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
   
}
.location p{
    color: var(--Dark, #0A142F);
    font-family: 'Ubuntu';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
.apsc{
    color: var(--Dark, #0A142F);
    font-family: 'Ubuntu';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    
}
.mobile-sixth-wrap{
    display:none;
}
section , h1 , p, .desc , .innerdes , .smallerdes{
   
  animation: AnimationScroll ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}


   /* Animation scroll */
/* 
@keyframes AnimationScroll {
    from{
    opacity: 0;
    transform: translateY(100px);
    }

   to{
    opacity: 1;
    transform: translateY(0);
  }
} */















    



























/* For phone responsiveness*/
.header-mobile {
    display: none;
    
}
.sidenav {
    display: none;
   

}
.menue{
    display: none;
   
}
.second-mobile{
    display: none;
}
.fourth-mobile{
    display: none;
}
._4th{
    display: none;
}
@media (max-width: 846px) {
    .mobile-sixth-wrap{
        display: inline;
    }
    .heading {
        display: none;
    }
    /* mobile */
    .header-mobile {
        display:flex;
        justify-content: space-between;
        align-items: center;
         position: relative;
        width: 100%;
        position: fixed;
        background-color: #f0f6f2;
        
        
    }
    .header-mobilelogo img{
       padding: 1em;
       position: relative;
    } 
    .menu  {
       border: none;
       padding: 2px;
       font-size: 20px;
       margin: 1em;
       border: 2px solid;
       z-index: 1;

    }
    .menu svg{
        cursor: pointer;
        width: 1.5rem;
        height: 2rem;
        box-shadow: 0px 0px 2px 2px rgb(131, 126, 126);
       position: relative;
      
    }
    .sidenav {
        display:none;
       height: 100vh;
       width: 70%;
       top: 0;
       right: 0.1%;
       background-color:rgba(38, 145, 70);
       position: absolute;
       z-index: -1;
       opacity: 20;
       box-shadow: 10px 10px 10px 10px black;
    }
    .sidenav-visible{
        display: block; 
        animation: Comein 2s  ease-in ;  
    }
    
    .sidenav ul{
        
       margin: 4em 0em 0em 1em;
    }
    ul li a{
        color: rgb(253, 253, 253);
        text-decoration: none;
        font-size: 2rem;
    }
    .sidenav ul li{
    
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 400;   
            color:#ffffff;
            font-family: 'Ubuntu';
            letter-spacing: 0.4px;
            list-style-type: none;
         padding-top: 1em;
        
    }
    /* end mobile */
    .first{
        height: 100vh;
        width:100%;
    
    }
    .background-first-text{
        font-size: 2rem;
        
    }
    .header-background p{
        font-size: 1rem;

        
    }
    .contactus2 {
        margin-top: 1.5em;
    }
    .frame-text h1{
        font-size: 2rem;
    }
    .frame-text p{
        font-size: 1rem;
    }        
    .card{
        background-color: #00B050;
        align-items: center;
        text-align: center;
        border-radius: 16px;
        padding: 43px 0px;
        margin: 1em;
      
    }
    .cards{
        display: flex;
        flex-direction: column;
        margin: 0em ;
    }
    .card img{
        max-width: 131px;
        max-height: 117px;
        align-items: center;
        align-content: center;
        justify-content: center;
    
        
    }
    .cards p{
        font-size: 1.5rem;
        min-width: 100%;
    }
    .second{
        display: none;
      
    }
    .second-mobile{
        background-color: #0B0B0B;
        margin-top: 1300px;  
       display: flex;
       flex-direction: column;
       padding: 1em;
    }
    .second-text-wrap-mobile h1{
        padding: 60px 0px 10px 0px;
        color: #00B050;
        color: var(--primary-colour, #00B050);
        font-size: 2rem;
        text-align: center;
    }
    .second-text-wrap-mobile p{
        color: var(--accent, #F8F8FF);
        font-family:'Oxygen';
        font-size: 1.5rem;
        padding: 1.5em 1.5em 0em 1.5em;
        text-align: center;
    } 
    .second-button-mobile{
        justify-content: center;
        align-items: center; 
        display: flex;
        padding: 2em;
    }
    .second-button-mobile button{
        padding: 16px 28px;   
        border-radius: 25px;
        background-color: #00B050;
        cursor: pointer;
        transition: 0.4s;
        border: 1px solid #00B050;
        font-size: larger;
    }
    .second-button-mobile button:hover{
        background-color: #0B0B0B;
        border:2px solid #00B050;
        color: #F8F8FF;
    }
    .secondInner-mobile{
        background-color: #0B0B0B;
        display: flex;
        padding: 4em 2em;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 2em;
        display: none;
        animation: comeIn 2s;
    }
    @keyframes comeIn {
        from{
            transform: scaleY(100px);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }
    .secondInner-mobile h2{
        color: var(--primary-colour, #00B050);
        font-family: 'Oxygen';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
    }
    .secondInner-mobile p{
        color: var(--accent, #F8F8FF);
        font-family: 'Ubuntu';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
    }
    .seconduppericons{
       justify-content: space-around;

    }
    .icons{
        gap:2em;
    }
    
    .third{
        background-color: #F8F8FF;
    }
    .third h1{
        color: var(--text-colour, #0B0B0B);
        text-align: center;
        font-family: 'Oxygen';
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 0.96px;
        padding: 50px 0px 0px 0px;
    }
    .third p{
        color: var(--text-colour, #0B0B0B);
        text-align: center;
        font-family: 'Ubuntu';
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.48px;
        padding: 30px 0px 60px 0px;
    }
    
    .third-image-respon{
        display: grid;
        grid-template-columns: auto ;
        justify-content: center;
        gap:60px 24px;
        align-content: space-around;
        align-items: center;
        padding: 0em 1em;
    }
    .thirdimage img{
        width:100%;
       column-gap: 24px;
       
    }
    .third-image{
        margin: 2em;
    }
    .desc{
       
        font-family: 'Oxygen';
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.52px;
        padding: 12px 0px 8px 0px;
    }
    .innerdes{
        font-family: 'Oxygen';
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.4px;
    }
    .smallerdes{
        font-family: 'Oxygen';
        font-size: 0.9rem;
        font-weight: 400;
        letter-spacing: 0.32px;
    }
    .third-button {
        align-items: center;
        justify-content: center;
        padding: 12px 26px;
        border-radius: 25px;
        border: 3px solid #00B050;
        color: var(--text-colour, #0B0B0B);
        font-family: 'Ubuntu';
        font-size: 20px;
        font-weight: 500;
       transition: 0.7s;
       margin: 80px  0px 50px 0px;
       cursor: pointer;
    }
    .button3{
        display: flex;
        justify-content: center;
        
    }
    button{
        justify-content: center;
        align-content: center;
        align-items: center;
    }
  
   
.fourth{
    padding: 5em 0em;
}
      

 .fourth h1 {
    color: var(--text-colour);
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
  }
  
  .fourth ul {
    display: flex;
    justify-content: center;
    gap: 18px;
    padding-bottom: 70px;
  }
  
  .tab_btn {
    text-decoration: none;
    color: var(--text-colour);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background-color: #F8F8FF;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 25px;
  }
  
  .tab_btn.active {
    background-color: #00B050;
    color: #FFF;
    border-radius: 25px;
  }
  
  .fourthwrap {
    display: none;
    position: relative;
  }
  
  .fourthwrap.active {
    display: flex;
    align-items: center;
    padding:20px 50px 80px ;

  }
  .landscaping {
    border-radius: 24px;
    background: rgba(73, 129, 89, 0.3); /* Slight overlay for text visibility */
    padding: 40px 28px;
    flex: 1;
    position: relative;
    width: 100%;
    color: #fff; /* Make text white for better contrast */
    overflow: hidden;
    
    width: 713px;
    min-height: 373px;
    justify-content: center;
    align-content: center;
    z-index: -1;
  }
  
  .landscaping h1 {
    font-size: 32px;
    font-weight: 700;
    color: inherit;
    text-align: start;
    font-family: 'Ubuntu';
  }
  
  .landscaping h2 {
    font-size: 20px;
    font-weight: 400;
    color: inherit;
    margin: 28px 0px;
    font-family: 'Ubuntu';
  }
  
  ul1 {
    list-style-type: none;
    padding: 0;
  }
  
  ul1 li {
    font-size: 16px;
    margin: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    color: inherit;
    font-family: 'Ubuntu';
  }
  
  ul1 li img {
    margin-right: 10px;
    width: 10px;
    height: 10px;
  }
  
  .landscapingimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    border-radius: 24px;
    overflow: hidden;
  }
  
  .landscapingimg img {
    object-fit: cover;
    
    width: 713px;
    min-height: 373px;
    
    position: absolute;
    top: -30px;
    right: -30px;
    width: 400px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  
  #machinery img {
    width: 400px;
    height: 300px;
  }

.sixth{
        display: none;
    }
    .mobile-arrow img{
        width: 54px;
        height: 54px;
        flex-shrink: 0;
        background-color: var(--primary-colour, #00B050);
        border-radius: 25px;
        padding: 10px;
        cursor: pointer;
        transition: 1s;
     
    }
    .mobile-arrow img:hover{
        background-color: #0B0B0B;
        border: 2px solid #00B050;
    
    }
   
    .mobile-location h1{
        color: var(--Dark, #0A142F);
        font-family: 'Ubuntu';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 150% */
    }
    .mobile-location p{
        color: var(--Dark, #0A142F);
        font-family: 'Ubuntu';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
    }
    .mobile-apsc{
        color: var(--Dark, #0A142F);
        font-family: 'Ubuntu';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        
    }
    .logo-n-img{
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }
    .mobile-sixth-wrap{
        padding: 10px;
       
    }
    .location-n-apsc{
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        gap:150px;
        margin-top: 50px;
    }
    .mobile-sixth{
        margin: 0em 1em;
    }
   
} 
@media  (max-width:733px){
    form{
        display: grid;
        grid-template-columns:100%;
       padding: 56px 0px;
    }
    .fifth h1{
        font-size: 1.9em;
      }
      .fifthbutton{
        padding: 16px 50px;
    }
    .fifth{
        background-color: var(--text-colour, #0B0B0B); 
        padding: 100px 70px 100px; 
      }
    
    
}
